[submodule "AnjaliOldLipi"]
	path = AnjaliOldLipi
	url = git@github.com:smc/AnjaliOldLipi.git
[submodule "Dyuthi"]
	path = Dyuthi
	url = git@github.com:smc/Dyuthi.git
[submodule "Kalyani"]
	path = Kalyani
	url = git@github.com:smc/Kalyani.git
